.container{
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
}

.label{
    text-align: center;
    font-family: Orbitron;
    font-size: 1.2rem;
    color: #f6ede1c0;
    margin-bottom: 10px;
}

.ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #181818;
    padding: 15px 0;
}

.containerLi{
    margin: 5px 10px;
    width: 120px;
    font-family: Chakra Petch;
    color: #f6ede1c0;
}
.containerInput{
    display: flex;
    flex-direction: column;
}

